<!-- https://cdn.jsdelivr.net/npm/sakana-widget@2.2.1/lib/sakana.min.js -->
<!-- https://cdnjs.cloudflare.com/ajax/libs/sakana-widget/2.2.1/sakana.min.js -->
<div id="sakana-widget" 
style="position:fixed;bottom:10px;right:10px;">
</div>
<script>
  function initSakanaWidget() {
    sakanaWidget = new SakanaWidget();
    sakanaWidget.mount('#sakana-widget');
    // sakanaWidget.setCharacter('chisato');
    sakanaWidget.setCharacter('takina');
  }
</script>
<script
  async
  onload="initSakanaWidget()"
  src="https://cdn.jsdelivr.net/npm/sakana-widget@2.2.1/lib/sakana.min.js"
></script>